[package]
name = "legion_prof"
version = "0.1.0"
edition = "2018"

[dependencies]
clap = "2.33"
csv = "1.1"
derive_more = { version = "0.99", default_features = false, features = ["add", "display", "from"] }
flate2 = "1"
nom = "5"
num_enum = "0.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[profile.dev]
opt-level = 2
debug-assertions = true
