*~
\#*#
.#*
.DS_Store
*.a
*.d
*.so
*.dylib
*.o
*.gz
*.gcno
*.gcda
*.gcov
core
*.fluid
*.pyc
*.swp
*.log
*.bbl
*.blg
*.aux

legion_defines.h
realm_defines.h

.cache
build
tmp-build
compile_commands.json
mem_trace_csv
