language: cpp
sudo: required
dist: trusty
os:
  - linux
  - osx
compiler:
  - gcc
  - clang
env:
  global:
  - WARN_AS_ERROR=1
  matrix:
  - CC_FLAGS= DEBUG=0
  - CC_FLAGS="-DPRIVILEGE_CHECKS -DBOUNDS_CHECKS" DEBUG=1
  - CC_FLAGS=-DLEGION_SPY DEBUG=1 TEST_SPY=1
  - CC_FLAGS=-std=c++0x DEBUG=0
  - CC_FLAGS= DEBUG=1 USE_GASNET=1 USE_LLVM=1
matrix:
  exclude:
    - os: osx
      compiler: gcc
# blacklist some branches
branches:
  except:
    - deppart
    - rdir
# addons:
#   apt:
#     sources:
#       - ubuntu-toolchain-r-test
#       - llvm-toolchain-precise-3.5
#     packages:
#       - g++-4.9
#       - clang-3.5
#       - libclang-3.5-dev
#       - llvm-3.5-dev
before_install:
  - |
    if [ "$(uname)" = "Linux" ]; then
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
      # sudo sh -c "echo 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise-3.5 main' >> /etc/apt/sources.list"
      # wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -
      # sudo sh -c "echo 'deb http://legion.stanford.edu/~eslaught/llvm-deb-mirror/apt/precise/ llvm-toolchain-precise-3.5 main' >> /etc/apt/sources.list"
      # wget -O - http://legion.stanford.edu/~eslaught/llvm-deb-mirror/apt/llvm-snapshot.gpg.key | sudo apt-key add -
      sudo apt-get update -qq
      sudo apt-get install -qq g++-4.9 clang-3.5 libclang-3.5-dev llvm-3.5-dev openmpi-bin libopenmpi-dev
    fi
  - |
    if [ "$(uname)" = "Darwin" ]; then
      brew update
      brew install pypy
    fi
  - if [ "$(uname)" = "Linux" -a "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi
  - if [ "$(uname)" = "Linux" -a "$CXX" = "clang++" ]; then export CXX="clang++-3.5" CC="clang-3.5"; fi
  - if [ "$(uname)" = "Linux" ]; then export LLVM_CONFIG="llvm-config-3.5"; fi
  - |
    if [ $USE_GASNET -eq 1 ]; then
      export CONDUIT=mpi
      git clone git@github.com:StanfordLegion/gasnet.git
      cd gasnet
      make -j2
      export GASNET_ROOT="$PWD/release"
      export LAUNCHER="mpirun -n 2 -x TERRA_PATH -x INCLUDE_PATH -x LD_LIBRARY_PATH -x LG_RT_DIR"
      unset WARN_AS_ERROR
    fi
script:
  - ./language/travis.py
  - |
    make -s -C examples/00_hello_world LG_RT_DIR=../../runtime clean
    make -s -C examples/00_hello_world LG_RT_DIR=../../runtime -j2
    examples/00_hello_world/hello_world
    make -s -C examples/01_tasks_and_futures LG_RT_DIR=../../runtime
    examples/01_tasks_and_futures/tasks_and_futures
    make -s -C examples/02_index_tasks LG_RT_DIR=../../runtime
    examples/02_index_tasks/index_tasks
    make -s -C examples/03_global_vars LG_RT_DIR=../../runtime
    examples/03_global_vars/global_vars
    make -s -C examples/04_logical_regions LG_RT_DIR=../../runtime
    examples/04_logical_regions/logical_regions
    make -s -C examples/05_physical_regions LG_RT_DIR=../../runtime
    examples/05_physical_regions/physical_regions
    make -s -C examples/06_privileges LG_RT_DIR=../../runtime
    examples/06_privileges/privileges
    make -s -C examples/07_partitioning LG_RT_DIR=../../runtime
    examples/07_partitioning/partitioning
    make -s -C examples/08_multiple_partitions LG_RT_DIR=../../runtime
    examples/08_multiple_partitions/multiple_partitions
    make -s -C examples/09_custom_mapper LG_RT_DIR=../../runtime
    examples/09_custom_mapper/custom_mapper
    make -s -C examples/full_circuit LG_RT_DIR=../../runtime
    examples/full_circuit/ckt_sim
    make -s -C examples/full_ghost LG_RT_DIR=../../runtime
    examples/full_ghost/ghost -ll:cpu 4
  - |
    if [ $DEBUG -eq 0 ]; then
      make -s -C test/realm LG_RT_DIR=../../runtime DEBUG=0 SHARED_LOWLEVEL=0 USE_CUDA=0 USE_GASNET=0 clean
      make -s -C test/realm LG_RT_DIR=../../runtime DEBUG=0 SHARED_LOWLEVEL=0 USE_CUDA=0 USE_GASNET=0 run_all
    fi
  - |
    if [ $DEBUG -eq 0 ]; then
      make -s -C test/performance/realm LG_RT_DIR=../../../runtime SHARED_LOWLEVEL=0 clean_all
      make -s -C test/performance/realm LG_RT_DIR=../../../runtime SHARED_LOWLEVEL=0 run_all
    fi
