/* (c) Axel Naumann, CERN; 2020-03-02 */
/* Copyright 2024 Stanford University, NVIDIA Corporation */
/* SPDX-License-Identifier: LGPL-3.0-only */
/* Adapted from https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
  margin-left: 30px;
  border: 1px solid lightgray;
  color: white;
  background-color: #346295;
  padding: 6px 16px 6px 16px;
  font-size: 14px;
  min-width: 150px;
}
.dropbtn:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 12px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 30px;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */.dropdown-content a {
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   color: black;
   background-color:  #62D1E2;
}

