name: ci_tests
on: push
jobs:
  test1:
    name: Test 1
    runs-on: ubuntu-18.04
    env:
      CXX: g++
    if: false
    steps:
      - name: system info
        run: |
          uname -a
          free
          pwd
          ${CXX} --version
      - name: checkout
        uses: actions/checkout@v2
      - name: test
        run: ./test.py
        env:
          TEST_REGENT: 0
  test2:
    name: Test macos
    runs-on: macos-10.15
    env:
      CXX: clang++
      CXXFLAGS: "-std=c++11"
    if: false
    steps:
      - name: system info
        run: |
          uname -a
          vm_stat
          pwd
          ${CXX} --version
      - name: checkout
        uses: actions/checkout@v2
      - name: test
        run: ./test.py
        env:
          TEST_REGENT: 0
  test3:
    name: Test 3
    runs-on: ubuntu-18.04
    env:
      CXX: g++
      CLANG: clang-6.0
      LLVM_CONFIG: llvm-config-6.0
      USE_CUDA: 0
    if: false
    steps:
      - name: system info
        run: |
          uname -a
          free
          pwd
          ${CXX} --version
          dpkg -l | grep clang
          dpkg -l | grep llvm
          llvm-config --version || echo no
          sudo apt-get update
          sudo apt-get install -y libclang-6.0-dev
          sudo apt-get remove clang-8 clang-9
          which ${CLANG} || echo no
          which ${LLVM_CONFIG} || echo no
      - name: checkout
        uses: actions/checkout@v2
      - name: test
        run: ./test.py
        env:
          TEST_LEGION_CXX: 0
          TEST_REALM: 0
          TEST_FUZZER: 0
          CMAKE_PREFIX_PATH: "/usr/share/llvm-9.0/cmake"
  test4:
    name: Test macos regent
    runs-on: macos-10.15
    env:
      CC: clang
      CXX: clang++
      CXXFLAGS: "-std=c++11"
      CLANG: clang
      LLVM_CONFIG: llvm-config
      USE_CUDA: 0
    steps:
      - name: system info
        run: |
          uname -a
          vm_stat
      - name: checkout
        uses: actions/checkout@v2
      - name: test
        run: |
          curl -L -O http://releases.llvm.org/6.0.0/clang+llvm-6.0.0-x86_64-apple-darwin.tar.xz
          tar xf clang+llvm-6.0.0-x86_64-apple-darwin.tar.xz
          PATH=$PWD/clang+llvm-6.0.0-x86_64-apple-darwin/bin:$PATH
          export CMAKE_PREFIX_PATH=$PWD/clang+llvm-6.0.0-x86_64-apple-darwin
          export INCLUDE_PATH="$(xcrun --sdk macosx --show-sdk-path)/usr/include"
          ls -al ${INCLUDE_PATH}
          ./test.py
        env:
          TEST_LEGION_CXX: 0
          TEST_REALM: 0
          TEST_FUZZER: 0

